* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "halyard-display-variable", sans-serif;
    font-size: 32px;
}

.header {
    background-color: #000
}

.hero img{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}

/* Navigation Classes */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    background-color: #000;
    padding: 36px 192px;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 64px;
}

.navbar ul li {
    display: inline;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 0px;
}

.central-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.central-button img {
    width: 64px;
    height: 64px;
}

.right a {
    color: white;
    text-decoration: none;
}

/* Hamburger icon */
.hamburger {
    display: none; /* Hidden by default */
    font-size: 30px;
    cursor: pointer;
    color: white;
}
  
/* Fullscreen vertical menu */
.fullscreen-menu {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    background-color: #ffeb3b;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    padding: 20px;
}
  
.fullscreen-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.fullscreen-menu ul li {
    margin: 20px 0;
}
  
.fullscreen-menu a {
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
}
  
.fullscreen-menu .contacts {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    margin-top: auto; /* Stick to the bottom */
}
  
.fullscreen-menu .contacts a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
}
  
.fullscreen-menu .contacts img {
    width: 30px;
    height: 30px;
}

/* Page Classes */

.h1 {
    color: #000;
    font-family: "halyard-display-variable", sans-serif;
    font-size: 64px;
    font-style: normal;
    font-weight: 600;
    line-height: 60px;
    padding: 0px 0px;
    scroll-margin-top: 36px;
}

.h-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 128px;
    padding: 32px 192px;
}

.h-center img {
    width: auto;
    height: 100%;
}

.h1-normal {
    font-weight: 400;
}

.p {
    color: #000;
    font-family: "halyard-display-variable", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 31px;
    padding: 0px 0px
}

.p-small {
    font-size: 24px;
    flex: 1;
    padding: 0px 0px;
}

.container {
    display: flex;
    flex-direction: row;
    padding: 32px 192px;
}

.image-column {
    padding: 0px;
    flex: 0 0 256px;
}

.text-column {
    flex: 1;
    padding: 0px 16px;
}

.image-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}
  
.image-box img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.button-2 {
    display: inline-block;
    padding: 20px 32px;
    background-color: black;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    font-size: 40px;
    font-family: "halyard-display-variable", sans-serif;;
    border: none;
    cursor: pointer;
}

.footer {
    background-color: #080808;
    color: white;
}

.footer-container {
    display: flex;
    flex-direction: row;
    padding: 16px 192px;
    justify-content: space-between;
    align-items: center;
}

.footer-container .column {
    flex: 0 1 auto;
}

.footer-container .left {
    text-align: left;
    padding-right: 32px;
}

.footer-container .right {
    text-align: right;
    padding-left: 32px;
}

.footer-container .spacer {
    flex-grow: 1;
}

/* Responsive Settings */

@media (max-width: 800px) {
    .image-container {
      width: calc(50% - 10px);
    }
}
  
@media (max-width: 500px) {
    .image-container {
      width: 100%;
    }
}

@media (max-width: 768px) {
    .hero img {
        content: url('/assets/images/Mobile/PM_M_GIF_LandingPage.gif');
    }

    .h1 {
        color: #000;
        font-family: "halyard-display-variable", sans-serif;
        font-size: 53.165px;
        font-style: normal;
        font-weight: 600;
        line-height: 60px;
        scroll-margin-top: 104px;
    }

    .p {
        color: #000;
        font-family: "halyard-display-variable", sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 35px;
    }

    .container {
        flex-direction: column;
        padding: 32px 32px;
    }

    .h-center {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 256px;
        padding: 32px 32px;
    }

    .h-center img {
        content: url('/assets/images/Mobile/Loghi/M_Loghi_Enti_tot.png');
        max-height: 75%;
    }

    .image-column {
        flex: 0 0 0px;
        padding: 0px;
        width: 100%;
    }

    .text-column {
        flex: 1;
        width: 100%;
        padding: 16px 0px;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        padding: 16px 32px;
        justify-content: space-between;
        align-items: center;
    }

    .container-dark .image-column {
        padding: 0px 0px;
        flex: 0 0 0px;
    }
    
    .container-dark .text-column {
        padding: 0px 0px;
        background-color: transparent;
    }

    .central-button {
        position: static; /* Make it inline with the menu */
        transform: none; /* Remove centering */
        margin-right: auto; /* Align it to the left */
    }

    /* Move Contact into the menu */
    .navbar .right {
        display: none;
    }

    .navbar ul {
        display: none;
    }
      
    .hamburger {
        display: block; /* Show hamburger icon on small screens */
    }
      
    .fullscreen-menu.show {
        display: flex; /* Show fullscreen vertical menu */
    }
}